<!doctype html>
<!--[if lte IE 8]><html lang="zh" class="ie8"><![endif]-->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" CONTENT="0"> 
    <meta http-equiv="Cache-Control" CONTENT="no-cache"> 
    <meta http-equiv="Pragma" CONTENT="no-cache"> 
    <meta name="renderer" content="webkit">
    <title>等待签署</title>
    <meta name='apple-itunes-app' content='app-id=1237561078'>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>  
<div class="sign">
    <div class="container">
        <h3>1、签署请求已成功添加</h3>
        <h3>2、进入真宜签app完成签署</h3>
        <img class="tip" src="/images/phone/iPhone.png">
        <img class="tip2" src="/images/phone/iPhone2.png">
    </div>
</div>
</script>
</body>
</html>